@charset "utf-8";

.topNav{
	background-color: #333;
}
.topNav a{
	display: block;
	color:white;
	float: left;
	padding: 14px 16px;
}
.topNav a.icon{
	float: right;
}
.topNav a.icon{
	display: none;
}
@media screen and (max-width:576px){
	/*.topNav a:not(:first-child){display: none;}
	.topNav a.icon{display: block;}*/
	.menuWrap{
		width: 100%;
		position: fixed;
	}
	.topNav a{display: none;}
	.topNav a:first-child{display: block;}
	.topNav a.icon{display: block;}
	.topNav.responsive a{
		float: none;
		display: block;
	}
	.topNav.responsive a.icon{
		position: absolute;
		top:0;
		right: 0;
	}
	/*mobile*/
}
@media screen and (min-width: 577px) and (max-width: 922px){
	.menuWrap{
		width: 100%;
	}
	/*tablet*/
}
@media screen and (min-width: 923px){
	.menuWrap{
		width: 1200px;
		position: fixed; /*width값이 꼭 있어야 함*/ /*공중에 고정*/
		left: 50%;
		transform: translateX(-50%);
		top: 20px;
	}
	/*pc*/
}